@model business.Video

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Deseja apagar realmente?</h3>
<div>
    <h4>Video</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArquivoVideo)
        </dt>

        <dd>
            <div>
                <video style="width:70%; height:70%" controls>
                    <source src="@Url.Content(Model.ArquivoVideo)" type="video/mp4" />
                </video>
            </div>
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para a lista", "Index")
        </div>
    }
</div>
