@model business.Pagina

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pagina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pedido.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pedido.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayName("Planos de fundo")
        </dt>

        <dd>
            @Html.ActionLink("Planos de fundo", "Galeria", "Background", new { id = Model.IdPagina }, new { @class = "btn btn-primary" })
        </dd>

        <dt>
            @Html.DisplayName("Blocos")
        </dt>

        <dd>
            @Html.ActionLink("Blocos", "Galeria", "Div", new { id = Model.IdPagina }, new { @class = "btn btn-danger" })
        </dd>

        <dt>
            @Html.DisplayName("Imagens")
        </dt>

        <dd>
            @Html.ActionLink("Imagens", "Galeria", "Imagem", new { id = Model.IdPagina }, new { @class = "btn btn-danger" })
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdPagina }) |
    @Html.ActionLink("Back to List", "Index")
</p>
