@model business.Pagina


       <style>
           .modal .modal-dialog .modal-content .modal-header button
           {
               float: left;
           }
           .modal .modal-dialog .modal-content .modal-footer button
           {
               float: left;
           }

           
       </style>

@{
    int i = 0;
    foreach (var back in Model.Background)
    {
        if (i == 0)
        {
            <p>
                <a href="#" data-value="@back.IdBackground" class="btn btn-success Background">alterar plano de fundo da pagina</a>
            </p>
        }
        if (i == 1)
        {
            <p>
                <a href="#" data-value="@back.IdBackground" class="btn btn-success Background">alterar plano de fundo do topo</a>
            </p>
        }

        if (i == 2)
        {
            <p>
                <a href="#" data-value="@back.IdBackground" class="btn btn-success Background">alterar plano de fundo do menu</a>
            </p>
        }

        if (i == 3)
        {
            <p>
                <a href="#" data-value="@back.IdBackground" class="btn btn-success Background">alterar plano de fundo da borda esquerda</a>
            </p>
        }

        if (i == 4)
        {
            <p>
                <a href="#" data-value="@back.IdBackground" class="btn btn-success Background">alterar plano de fundo da borda direita</a>
            </p>
        }

        if (i == 5)
        {
            <p>
                <a href="#" data-value="@back.IdBackground" class="btn btn-success Background">alterar plano de fundo dos blocos</a>
            </p>
        }

        i++;
    }
}

<hr />

@{

    foreach (var div in Model.Div)
    {
        <p>
            <a href="#" data-value="@div.IdDiv" class="btn btn-success bloco">alterar bloco - @div.Nome</a>
        </p>
    }
}

<hr />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Pagina</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdPagina)

        <div class="form-group">
            @Html.LabelFor(model => model.IdPagina, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdPagina, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.IdPagina, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
            </div>
        </div>          

        <div class="form-group">
            @Html.LabelFor(model => model.pedido_, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pedido_", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pedido_, "", new { @class = "text-danger" })
            </div>
        </div>

        
    </div>
}

<div class="modal fade" id="exampleModalLong"   tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Editar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="conteudomodal"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

<div>


    <script type="text/javascript">
            $(document).ready(function () {
                $("input[name='Titulo'], input[name='servico_']").change(function () {
                debugger

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Alterar")',
                    dataType: 'json',
                    data: { Id: $("#IdPagina").val(), Titulo: $("#Titulo").val(), pedido_: $("#pedido_").val() },
                    success: function (data) {


                        alert('alteração efetuada');
                        
                        location.reload();
                         
                       // document.getElementsByClassName("content").innerHTML = "<h1> Deus é bom </h1>";


                    },
                    error: function (ex) {
                        alert('Falha ao buscar cidades.' + ex);
                    }
                });
                return false;
                });


                $(".Background").click(function () {

                    var id = $(this).data("value");

                    $("#conteudomodal").load("/Background/EditModal/" + id, function () {
                        $('#exampleModalLong').modal("show");

                    });
                });


                $(".bloco").click(function () {

                    var id = $(this).data("value");

                    $("#conteudomodal").load("/Div/EditModal/" + id, function () {
                        $('#exampleModalLong').modal("show");

                    });
                });


        });
    </script>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
