@model business.Pagina


<style>
    .modal .modal-dialog .modal-content .modal-header button {
        float: left;
    }

    .modal .modal-dialog .modal-content .modal-footer button {
        float: left;
    }
</style>

@using (Html.BeginForm())
{
    <h4>Configuração de bordas</h4>
    @Html.Label("manter", "Manter a borda", htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.CheckBox("Manter", true)
}

<hr />

<a href="#" class="btn btn-success imagem">Background da pagina</a>

<hr />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Pagina</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IdPagina)

    <input id="Hidden1" name="Hidden1" type="hidden" value="" />

    <div class="form-group">
        @Html.LabelFor(model => model.IdPagina, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.IdPagina, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.IdPagina, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ModalDireita, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(model => model.ModalDireita)
                @Html.ValidationMessageFor(model => model.ModalDireita, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Layout, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(model => model.Layout)
                @Html.ValidationMessageFor(model => model.Layout, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.pedido_, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("pedido_", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.pedido_, "", new { @class = "text-danger" })
        </div>
    </div>


</div>
}

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Editar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="conteudomodal"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

<div>


    <script type="text/javascript">
            $(document).ready(function () {
                $("input[name='Titulo'], input[name='servico_'], input[name='Layout'], input[name='ModalDireita'], select[name='pedido_']").change(function () {
                

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Alterar")',
                    dataType: 'json',
                    data: { Id: $("#IdPagina").val(), Titulo: $("#Titulo").val(), pedido_: $("#pedido_").val(), ModalDireita: $("#ModalDireita").is(':checked'), Layout: $("#Layout").is(':checked') },
                    success: function (data) {

                        $("#Hidden1").val(true);
                            $(".content").load("/Pagina/getview",
                                { id: "@Model.IdPagina" });
                    },
                    error: function (ex)
                    {
                        alert('Falha na alteração.' + ex);
                    }
                });
                return false;
                });


                $(".btn-success").click(function () {

                    var id = $("#corpo").data("value");

                    $("#conteudomodal").load("/Background/EditModal/" + id, function () {
                        $('#exampleModalLong').modal("show");

                    });
                });


        });
    </script>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
