@model business.Codigo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Codigo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pagina.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pagina.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Efeito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Efeito)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCodigo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
