@model business.Div

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Bloco</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Background.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Background.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagem.Arquivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagem.Arquivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pagina.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pagina.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Padding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Padding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desenhado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desenhado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Divisao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Divisao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BorderRadius)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BorderRadius)
        </dd>

        <dt>
            @Html.DisplayName("Videos")
        </dt>

        <dd>
            @Html.ActionLink("Videos", "Galeria", "Video", new { id = Model.IdDiv }, new { @class = "btn btn-primary" })
        </dd>

        <dt>
            @Html.DisplayName("Carrosseis")
        </dt>

        <dd>
            @Html.ActionLink("Carrosseis", "Galeria", "Carousel", new { id = Model.IdDiv }, new { @class = "btn btn-primary" })
        </dd>

        <dt>
            @Html.DisplayName("Textos")
        </dt>

        <dd>
            @Html.ActionLink("Textos", "Galeria", "Texto", new { id = Model.IdDiv }, new { @class = "btn btn-primary" })
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdDiv }) |
    @Html.ActionLink("Voltar para a lista", "Galeria", new { id = Model.pagina_ })
</p>
