@model IEnumerable<business.Div>

@{
    ViewBag.Title = "Index";
}

<h2>Blocos</h2>

<p>
    @Html.ActionLink("Criar blocos", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.IdDiv }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.IdDiv }) |
            @Html.ActionLink("Deletar", "Delete", new { id = item.IdDiv })
        </td>
    </tr>
}

</table>
