<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    @*<script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=m8nq39l31dv5y829ehcjsd0rciwei8crem0yubndhdgs72fd"></script>
        <script>tinymce.init({ selector:'textarea' });</script>*@
    <link rel="stylesheet" href="~/css/carousel.css" />
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 0px)" href="~/css/small.css">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 500px)" href="~/css/medium.css">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 1050px)" href="~/css/large.css">

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("WebSiteNow", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Area de trabalho", "IndexCliente", "CLiente")</li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                    <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Exemplos de pagina criadas</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Nike", "Nike", "Home")</li>
                            <li>@Html.ActionLink("Saudali", "Saudali", "Home")</li>
                            <li>@Html.ActionLink("Porto Alegre", "Porto_Alegre", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Didática</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Layout", "Layout", "Home")</li>
                            <li>@Html.ActionLink("Blocos", "Blocos", "Home")</li>
                            <li>@Html.ActionLink("Planos de fundo", "Planos_de_fundo", "Home")</li>
                            <li>@Html.ActionLink("Carrossel", "Carrossel", "Home")</li>
                            <li>@Html.ActionLink("WebSiteNow: como funciona?", "WebSiteNow", "Home")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - WebSiteNow</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>



