@model IEnumerable<business.Background>

@{
    ViewBag.Title = "Index";
}

<div>

    <h2>Planos de fundo</h2>

    <p>
        @Html.ActionLink("Criar plano de fundo", "Create")
    </p>
    <table class="table">
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayName("Imagem")
            </th>
            
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @{
                        if (item.imagem.Arquivo != null)
                        {
                            <img src="@Url.Content(item.imagem.Arquivo)" alt="Image" style="width:100px;height:150px;max-width: 100%; height: auto;" />
                        }
                    }
                </td>
                
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdBackground }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.IdBackground }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.IdBackground })
                </td>
            </tr>
        }

    </table>

</div>


