@model IEnumerable<business.Elemento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.carousel.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagem.IdImagem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.texto.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.carousel.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imagem.IdImagem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.texto.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar ", "Edit", new { id = item.IdElemento }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.IdElemento }) |
            @Html.ActionLink("Deletar", "Delete", new { id = item.IdElemento })
        </td>
    </tr>
}

</table>
